@import './partials/first_section.scss';

@mixin actions{
    font-weight: 600;
    font-size: 0.8em;
    text-decoration: underline;
}

#first-section{
    .create{
        @include actions;
        margin-top: 10px;
        color: rgb(0, 167, 36);
        &:hover{
            color: rgb(1, 147, 32);
        }
    }
}


#second-section{
    padding-bottom: 40px;
}

.comic-group{
    display: flex;
    flex-wrap: wrap;
}

.comic-record{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 15px;

    .comic-attribute{
        width: calc(100% / 6.5);
        height: 120px;
        padding: 10px;
        border: 2px solid #cacaca;
        color: #262626;

        h5{
            font-size: 1em;
            margin-bottom: 15px;
        }

        .actions{
            display: flex;
            flex-direction: column;

            .delete{
                padding: 0px;
                background-color: transparent;
                border: 0px solid;
                @include actions;
                cursor: pointer;
                color: rgb(217, 0, 0);
                &:hover{
                    color: rgb(182, 0, 0);
                }
            }
            
            .show{
                @include actions;
                color: rgb(0, 152, 234);
                &:hover{
                    color: rgb(3, 121, 184);
                }
            }
            
        }
    }
}